html {
  height: 100%;
  width: 100%;
}
body{
  background-color: #6f6d6d;
}
h1{ 
 background-color: black;
}
h1{ 
  color: orange; 
}
.center{
  text-align:center;
}
h2{
  background-color:black;
}
h2{
  color:yellow;
}
img{
  width:40%;
}